body {
  background-color: #5687bb;
}

.well {
  background-color: #d5e7fb;
}

h3 {
  text-align: center;
}

.alarming {
  background-color: #b85712;
}

.alarming_well{
  background-color: #f0ae36;
}
